body {
	background-color: #fffdf2;	
	font-family: 'Signika Negative', sans-serif;
	font-weight: 300;
	font-size: 22px; 
	text-align: center; 
	min-width: 500px; 
	padding: 0;
	margin: 0;
	-webkit-transform: translate3d(0,0,0);*
}

p {
	color: #4c5351;
	width: 660px;
	text-align: left;
	line-height: 34px;
	padding: 0 0 20px 0;
}

.postImageFull {
	margin: 0 0 20px 0;
}

.postImageGutter {
	float: right;
	margin: 0 0 20px 40px;
}
strong {
	font-weight: 700;
}

.callOut {
	padding: 0 10px 20px 60px;
}

.label, h2, h3 {
	font-family: 'Kreon', serif;
    font-weight: 700;
    color: #1e2221;
    padding: 0;
}


#mainImage {
	position: absolute;
	right: 0px;
	top: 300px;
}

#topColor {
	background-color: #37e6b1;
	width: 100%;
	margin: 0;
	padding: 0; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

.topPadding {
	padding: 80px 0 40px 0;
}

#blogTitle {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200; 
	font-size: 80px;
	color: #fffdf2;
	width: 600px;
	line-height: 100px;

}

#blogTitle span {
	font-size: 20px;
	line-height: 50px;
}


code {
 	font-family: Menlo, Monaco, "Courier New", monospace;
 	font-size: 18px;
  	color: #71aebd;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	padding: 3px 6px;
  	background-color: #f7f5eb;
  	border: 1px solid #ebe9df;
}

/******** Links ********/

a {
	color: #28b98d;
}

a:visited {
	color: #8abdad;
}

a:hover {
	background-color: #28b98d;
	color: #ffffff;
}

/******** Jesse Chapo title & photo animation ********/

#jessePhoto {
	width: 0px;
	height: 0px;
	border: 6px solid #fffdf1;
	-moz-border-radius: 51px;
	-webkit-border-radius: 51px;
	border-radius: 51px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	-webkit-transition: all 400ms cubic-bezier(0.530, 1, 0.850, 0.820); /* older webkit */
	-webkit-transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820); 
	-moz-transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820); 
	-ms-transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820);
	-o-transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820); 
	transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820); /* custom */
}

#box {
    width: 244px;
    margin: 0 auto;
    margin-bottom: 70px; 
    padding: 0;
    text-align: center;
    position: relative;
}

#box:hover #jessePhoto {
	width: 92px;
	height: 92px;
	margin-top: -34px;
}

#box:hover {
	width: 334px;
}

.banner {
    width: 234px;
    height: 38px;
    background: #fffdf2;
    margin-left: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
}

#box:hover .banner {
	width: 324px;
}

#box, .banner, .banner span {
	-webkit-transition: all 400ms cubic-bezier(0.530, 1, 0.850, 0.820); /* older webkit */
	-webkit-transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820); 
	-moz-transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820); 
	-ms-transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820);
	-o-transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820); 
	transition: all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820); /* custom */
}

.banner span {
    background-color: #fffdf2;
    font-size: 20px;
	color: #28b98d;
    margin: 0;
    padding: 6px 0 6px 6px;
    letter-spacing: 8px;
    display: inline-block;
    top: 0px;
    position: relative;
    vertical-align: top;
}

.ribbon {
    width: 10px;
    height: 38px;
    background: #fffdf2;
    position: absolute;
}

.ribbon.left {
    top: 0;
    left: 0;
}

.ribbon.left:before {
    content: "";
    position: absolute;
    left: -29px;
    top: 0;
    width: 0;
    height: 0;
    border-right: 30px solid #fffdf2;
    border-top: 0 solid transparent;
    border-bottom: 37.5px solid transparent;
}

.ribbon.left:after {
    content: "";
    position: absolute;
    left: -29px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 30px solid #fffdf2;
    border-top: 37.5px solid transparent;
    border-bottom: 0 solid transparent;
}

.ribbon.right {
    top: 0;
    right: 10px;
}

.ribbon.right:before {
    content: "";
    position: absolute;
    right: -29px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 30px solid #fffdf2;
    border-top: 0 solid transparent;
    border-bottom: 37.5px solid transparent;
}

.ribbon.right:after {
    content: "";
    position: absolute;
    right: -29px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid #fffdf2;
    border-top: 37.5px solid transparent;
    border-bottom: 0 solid transparent;
}



/******** Footnotes ********/

a[rel="footnote"], a[rev="footnote"] {
    border-bottom: none;
    font-family: 'Kreon', serif;
    font-weight: 700;
    color: #28b98d;
    font-size: 14px;
    text-decoration: none;
    line-height: 0;
    padding: 4px 0 2px 2px;
   	letter-spacing: 2px;
}

a[rel="footnote"]:hover, a[rev="footnote"]:hover  {
	background-color: #28b98d;
	color: #fffdf2;	
}

a[rel="footnote"]:before {
    content: "[";
}

a[rel="footnote"]:after {
    content: "]";
}

hr {
	color: #e1e1e1;
	background-color: #e1e1e1;
	height: 2px;
	border: 0;
	width: 600px;
	margin-bottom: 20px; 
}

li {
	color: #656e6b;
	font-size: 16px;
	padding: 10px 0 20px 0;
}

ol {
    counter-reset: li; /* Initiate a counter */
    margin-left: 0; 
    padding-left: 0; 
    padding: 20px 0 70px 0;
    width: 600px;
}

ol > li {
    position: relative; 
    margin: 0 0 10px 46px; /* Give each list item a left margin to make room for the numbers */
    padding: 0 10px 10px 10px; 
    list-style: none; 
}

ol > li:before {
    content: counter(li); /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    position: absolute;
    width: 20px;
    left: -28px;
    margin-right: 10px;
    padding: 4px;
    font-family: 'Kreon', serif;
    font-weight: 700;
    text-align: center;
}