{% include header.html %}

  <body id="{{ page.postId }}">
  <div id="header">
    Jesse Chapo
    <!-- <img class="stars" src="/img/stars1.png" id="stars1">
    <img class="stars" src="/img/stars2.png" id="stars2">
    <img class="stars" src="/img/stars3.png" id="stars3">
    <a href="/">
      <div id="box">
        <div class="banner">
          <div class="ribbon left"></div>
          <span>JESSE</span>
          <img src="/img/jesse-chapo-portrait.png" id="jessePhoto">
          <span>CHAPO</span>
          <div class="ribbon right"></div>
        </div>
      </div>
    </a> -->
  </div>

  {{ content }}

  {% include footer.html %}
