
body {
  background-color: $beige;
  font-family: 'Mercury SSm A', 'Mercury SSm B', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

p {
  color: $textGreen;
  width: 100%;
  max-width: 660px;
  text-align: left;
  line-height: 34px;
  padding: 0 0 20px 0;

  a {
    padding: 0 3px;
  }

  .callOut {
    padding: 0 10px 20px 60px;
  }
}

strong {
  font-weight: 700;
}

a {
  color: #28b98d;
  text-decoration: none;

  &:visited {
    color: #8abdad;
  }

  &:hover {
    background-color: #28b98d;
    color: #ffffff;
  }
}

code {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 16px;
  color: #71aebd;
  @include border-radius(3px);
  padding: 3px 6px;
  background-color: #f7f5eb;
  border: 1px solid #ebe9df;
}

footer {
  width: 100%;
  background-color: $footerBeige;
  padding: 30px 0 80px 0;
}