sup {
  padding: 0 1px 2px 1px;
  &:target {
    background-color: $color-footnotes;
  }
}

a[rel="footnote"], a[rev="footnote"] {
  font-family: "petala-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
  border-bottom: none;
  color: $color-footnotes;
  text-decoration: none;
  line-height: 0;
  padding: 4px 0 2px 2px;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover{
    background-color: $color-footnotes;
    color: $beige;
  }
}

/* a[rel="footnote"]:before {
  content: "[";
}

a[rel="footnote"]:after {
  content: "]";
} */

hr {
  color: #e1e1e1;
  background-color: #e1e1e1;
  height: 2px;
  border: 0;
  width: 600px;
  margin-bottom: 20px;
}

li {
  color: #656e6b;

  &:target {
    background-color: #fff9d9;
  }
}

ol, ul {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  max-width: 660px;
  line-height: 32px;

  &.footnotes {
    font-size: 16px;
    line-height: 24px;
  }
}

ol {
  padding: 20px 0 30px 0;
}

ol > li, ul > li {
  position: relative;
  margin: 0 0 10px 46px;
  padding: 10px;
}

ol > li {
  list-style: none;
}

ul > li {
  list-style-type: circle;
}

ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  width: 20px;
  left: -28px;
  margin-right: 10px;
  padding: 4px;
  text-align: center;
}

#currentFootnote {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid transparent;
  background-color: #fff9d9;
  font-size: 16px;
  line-height: 24px;
  z-index: 99;
  display: none;
  text-align: center;

  div {
    max-width: 600px;
    padding: 10px 0;
    margin: 0 auto;
  }
}