
a[rel="footnote"], a[rev="footnote"] {
    border-bottom: none;
    font-family: 'Kreon', serif;
    font-weight: 700;
    color: #28b98d;
    font-size: 14px;
    text-decoration: none;
    line-height: 0;
    padding: 4px 0 2px 2px;
   	letter-spacing: 2px;
}

a[rel="footnote"]:hover, a[rev="footnote"]:hover  {
	background-color: #28b98d;
	color: #fffdf2;	
}

a[rel="footnote"]:before {
    content: "[";
}

a[rel="footnote"]:after {
    content: "]";
}

hr {
	color: #e1e1e1;
	background-color: #e1e1e1;
	height: 2px;
	border: 0;
	width: 600px;
	margin-bottom: 20px; 
}

li {
	color: #656e6b;
	padding: 20px 0 40px 0;
}

ol {
    counter-reset: li; /* Initiate a counter */
    margin-left: 0; 
    padding-left: 0; 
    padding: 20px 0 70px 0;
    width: 100%;
    max-width: 660px;
    line-height: 32px;
    &.footnotes {
        font-size: 16px;
        line-height: 24px;
    }
}

ol > li {
    position: relative; 
    margin: 0 0 10px 46px; /* Give each list item a left margin to make room for the numbers */
    padding: 0 10px 10px 10px; 
    list-style: none; 
}

ol > li:before {
    content: counter(li); /* Use the counter as content */
    counter-increment: li; /* Increment the counter by 1 */
    position: absolute;
    width: 20px;
    left: -28px;
    margin-right: 10px;
    padding: 4px;
    font-family: 'Kreon', serif;
    font-weight: 700;
    text-align: center;
}