#header {
    width: 100%;
    margin: 0;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    @media screen and (max-width: 768px) {
        padding: 41px 0;
    }
    img.stars {
        position: absolute;
        top: -100px;
        left: 50%;
        margin-left: -250px;
        -webkit-animation-name: rotate;
        -webkit-animation-iteration-count:  infinite;
        -webkit-animation-timing-function: linear;
        @media screen and (max-width: 768px) {
            top: -190px;
        }
    }
    #stars1 {
        -webkit-animation-duration: 20.0s;
    }
    #stars2 {
        -webkit-animation-duration: 30.0s;
    }
    #stars3 {
        -webkit-animation-duration: 40.0s;
        top: -350px;
        left: 50%;
        margin-left: -500px;
        @media screen and (max-width: 768px) {
            top: -440px;
        }
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#jessePhoto {
	width: 0px;
	height: 0px;
	border: 6px solid #fffdf1;
	@include border-radius(51px);
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	@include transition(all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820));
}

#box {
    width: 244px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
    &:hover  {
        width: 334px;
        #jessePhoto {
            width: 92px;
            height: 92px;
            margin-top: -34px;
        }
        .banner {
            width: 324px;
        }
    }
}

.banner {
    width: 234px;
    height: 38px;
    background: $beige;
    margin-left: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    span {
        background-color: $beige;
        font-size: 20px;
        color: #28b98d;
        margin: 0;
        padding: 10px 0 6px 6px;
        letter-spacing: 8px;
        display: inline-block;
        top: 0px;
        position: relative;
        vertical-align: top;
    }
}

#box, .banner, .banner span {
	@include transition(all 400ms cubic-bezier(0.530, 1.635, 0.850, 0.820));
}

.ribbon {
    width: 10px;
    height: 38px;
    background: $beige;
    position: absolute;
    &.left {
        top: 0;
        left: 0;
        &:before {
            content: "";
            position: absolute;
            left: -29px;
            top: 0;
            width: 0;
            height: 0;
            border-right: 30px solid $beige;
            border-top: 0 solid transparent;
            border-bottom: 37.5px solid transparent;
        }
        &:after {
            content: "";
            position: absolute;
            left: -29px;
            bottom: 0;
            width: 0;
            height: 0;
            border-right: 30px solid $beige;
            border-top: 37.5px solid transparent;
            border-bottom: 0 solid transparent;
        }
    }
    &.right {
        top: 0;
        right: 10px;
        &:before {
            content: "";
            position: absolute;
            right: -29px;
            top: 0;
            width: 0;
            height: 0;
            border-left: 30px solid $beige;
            border-top: 0 solid transparent;
            border-bottom: 37.5px solid transparent;
        }
        &:after {
            content: "";
            position: absolute;
            right: -29px;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 30px solid $beige;
            border-top: 37.5px solid transparent;
            border-bottom: 0 solid transparent;
        }
    }
}