

#post01 {

  .postTitle {
    background-color: $post01Color;

    .date {
      color: darken($post01Color, 30%);
    }
  }
}

#post02 {

  .postTitle {
    background-color: $post02Color;

    .date {
      color: darken($post02Color, 30%);
    }
  }
}


