$beige: #fffffa;
$footerBeige: #f5f5e6;

$color-copy: #4c5351;

$color-heading: #1e2221;

$brightGreen: #60f0c5;
$textGreen: #4c5351;

$color-footnotes: #f97a2d;


$post01Color: #5cdae6; //bright blue
$post02Color: #fa8f6e; //bright orange

