
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  @include font-adriane-body;
  background-color: $color-beige-white;
  -webkit-font-smoothing: antialiased;
}

footer {
  width: 100%;
  background-color: $footerBeige;
  padding: rem($baseline) 0 rem($baseline * 3) 0;
}

.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  overflow: hidden;
}


// Typography ************************* //

// Type Scale

// Mobile Scale is 1:1.618 with an interval of 3
$h1: 42.89px; // 16px * 1.618^(6/2)
$h2: 35.68px; // 16px * 1.618^(5/2)
$h3: 30.39px; // 16px * 1.618^(4/2)
$h4: 25.89px; // 16px * 1.618^(3/2)
$h5: 22.05px; // 16px * 1.618^(2/2)
$h6: 18.78px; // 16px * 1.618^(1/2)
$body: 16px;  // 16px * 1.618^(0/2)
$xs: 13.62px; // 16px * 1.618^(-1/2)


// Larger Devices Scale is 1:1.618 with an interval of 2
$h1_md: 66.77px; // 16px * 1.618^(6/2)
$h2_md: 53.28px; // 16px * 1.618^(5/2)
$h3_md: 41.89px; // 16px * 1.618^(4/2)
$h4_md: 32.93px; // 16px * 1.618^(3/2)
$h5_md: 25.89px; // 16px * 1.618^(2/2)
$h6_md: 20.35px; // 16px * 1.618^(1/2)
$xs_md: 12.58px; // 16px * 1.618^(-1/2)




h1, h2, h3, h4, h5, h6, p, .small, li, ul, ol {
  line-height: rem($baseline);
  margin-top:  0;
  margin-bottom: rem($baseline);
}

h1, h2, h3, h4, h5 {
  @include font-petala-bold;
  color: $color-heading;
}

h1, h2 {
  line-height: rem($baseline * 2);
}

h1 {
  font-size:  rem($h1); 
}

h2 {
  font-size: rem($h2);
}

h3 {
  font-size: rem($h3);
}

h4 {
  font-size: rem($h4);
}

h5 {
  font-size: rem($h5);
}

h6 {
  font-size: rem($h6);
}

.small {
  font-size: rem($xs);
}

p {
  font-size: rem($body);
  color: $color-copy;
  text-align: left;
  padding: 0;

  a {
    padding: 0 3px;
  }

  .callOut {
    padding: 0 10px 20px 60px;
  }
}

@include at-least ($medium) {

  

  h1 {
    font-size:  rem($h1_md);
    line-height: rem($baseline * 3);
  }

  h2 {
    font-size: rem($h2_md);
  }

  h3 {
    font-size: rem($h3_md);
    line-height: rem($baseline * 2);
  }

  h4 {
    font-size: rem($h4_md);
  }

  h5 {
    font-size: rem($h5_md);
  }

  h6 {
    font-size: rem($h6_md);
  }

  .small {
    font-size: rem($xs_md);
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  color: $color-links;
  text-decoration: none;

  &:visited {
    color: $color-links-visited;
  }

  &:hover {
    color: $color-links-hover;
  }
}

code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 16px;
  color: #71aebd;
  @include border-radius(3px);
  padding: 1px 4px;
  background-color: #f7f5eb;
  border: 1px solid #ebe9df;
}

@font-face {
  font-family: 'GoudyBookletter1911Regular';
  src: url(font-path('goudybookletter1911-openamp.eot'));
  src: url(font-path('goudybookletter1911-openamp.eot?iefix')) format('eot'),
       url(font-path('goudybookletter1911-openamp.woff')) format('woff'),
       url(font-path('goudybookletter1911-openamp.ttf')) format('truetype'),
       url(font-path('goudybookletter1911-openamp.svg#webfont0ZQvEa4G')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.openamp {
  font-family: GoudyBookletter1911Regular;
  font-size: 1.2em;
  line-height: .8;
}

abbr {
  letter-spacing: 0.08em;
}

// Lists ************************* //

li {
  color: #656e6b;

  &:target {
    background-color: #fff9d9;
  }
}

ol, ul {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  max-width: 660px;
}

ol {
  padding: 20px 0 30px 0;
}

ol > li, ul > li {
  position: relative;
  margin: 0 0 10px 46px;
  padding: 10px;
}

ol > li {
  list-style: none;
}

ul > li {
  list-style-type: circle;
}

ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  width: 20px;
  left: -28px;
  margin-right: 10px;
  padding: 4px;
  text-align: center;
}
