
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  @include font-stack-body;
  background-color: $color-background;
  background-image: url(image-path('bg-topography.svg'));
  background-size: 200vw auto;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;

  @include at-least($small) {
    background-size: 150vw auto;
  }

  @include at-least($medium) {
    background-size: 100vw auto;
  }
}

footer {
  padding: rem($baseline * 2) 0 rem($baseline * 6) 0;
}


// Typography ************************* //

// Type Scale

// // Mobile Scale is 1:1.618 with an interval of 3
// $h1: 42.89px; // 16px * 1.618^(6/2)
// $h2: 35.68px; // 16px * 1.618^(5/2)
// $h3: 30.39px; // 16px * 1.618^(4/2)
// $h4: 25.89px; // 16px * 1.618^(3/2)
// $h5: 22.05px; // 16px * 1.618^(2/2)
// $h6: 18.78px; // 16px * 1.618^(1/2)
// $body: 16px;  // 16px * 1.618^(0/2)
// $xs: 13.62px; // 16px * 1.618^(-1/2)

// // Larger Devices Scale is 1:1.618 with an interval of 2
// $h1_md: 66.77px; // 16px * 1.618^(6/2)
// $h2_md: 53.28px; // 16px * 1.618^(5/2)
// $h3_md: 41.89px; // 16px * 1.618^(4/2)
// $h4_md: 32.93px; // 16px * 1.618^(3/2)
// $h5_md: 25.89px; // 16px * 1.618^(2/2)
// $h6_md: 20.35px; // 16px * 1.618^(1/2)
// $xs_md: 12.58px; // 16px * 1.618^(-1/2)


// Mobile Devices Scale 
$xl: 18px * pow(1.618, 7 / 4); // 42
$h1: 18px * pow(1.618, 6 / 4); // 37
$h2: 18px * pow(1.618, 5 / 4); // 33
$h3: 18px * pow(1.618, 4 / 4); // 29
$h4: 18px * pow(1.618, 3 / 4); // 26
$h5: 18px * pow(1.618, 2 / 4); // 23
$h6: 18px * pow(1.618, 1 / 4); // 20
$body: 18px * pow(1.618, 0 / 4); // 18
$xs: 18px * pow(1.618, -1 / 4); // 16

// Larger Devices Scale 
$xl_md: 20px * pow(1.618, 7 / 3); // 61.47
$h1_md: 20px * pow(1.618, 6 / 3); // 52.36
$h2_md: 20px * pow(1.618, 5 / 3); // 44.60
$h3_md: 20px * pow(1.618, 4 / 3); // 37.99
$h4_md: 20px * pow(1.618, 3 / 3); // 32.36
$h5_md: 20px * pow(1.618, 2 / 3); // 27.56
$h6_md: 20px * pow(1.618, 1 / 3); // 23.48
$body_md: 20px * pow(1.618, 0 / 3); // 20
$xs_md: 20px * pow(1.618, -1 / 3); // 17.04



h1, h2, h3, h4, h5, h6, p, .small, li, ul, ol {
  line-height: rem($baseline * 2);
  margin-top:  0;
  margin-bottom: rem($baseline * 2);
}

h1, h2, h3, h4, h5 {
  @include font-stack-headings;
  color: $color-heading;
}

h1, h2 {
  line-height: rem($baseline * 3);
}

h1 {
  font-size:  rem($h1); 
}

h2 {
  font-size: rem($h3);
}

h3 {
  font-size: rem($h4);
}

h4 {
  font-size: rem($h5);
}

h5 {
  font-size: rem($h6);
}

h6, li {
  font-size: rem($body);
}

.small {
  font-size: rem($xs);
}

p {
  font-size: rem($body);
  color: $color-copy;
  text-align: left;
  padding: 0;

  .callOut {
    padding: 0 10px 20px 60px;
  }
}

@include at-least ($medium) {

  h1 {
    font-size:  rem($xl_md);
    line-height: rem($baseline * 5);
  }

  h2 {
    font-size: rem($h2_md);
    line-height: rem($baseline * 4);
  }

  h3, h4 {
    line-height: rem($baseline * 3);
  }

  h3 {
    font-size: rem($h3_md);
  }

  h4 {
    font-size: rem($h4_md);
  }

  h5 {
    font-size: rem($h5_md);
  }

  h6 {
    font-size: rem($h6_md);
  }

  p, li {
    font-size: rem($body_md);
  }

  .small {
    font-size: rem($xs_md);
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  color: $color-links;
  text-decoration: none;

  &:visited {
    color: $color-links-visited;
  }

  &:hover {
    color: $color-links-hover;
  }
}

@font-face {
  font-family: 'GoudyBookletter1911Regular';
  src: url(font-path('goudybookletter1911-openamp.eot'));
  src: url(font-path('goudybookletter1911-openamp.eot?iefix')) format('eot'),
       url(font-path('goudybookletter1911-openamp.woff')) format('woff'),
       url(font-path('goudybookletter1911-openamp.ttf')) format('truetype'),
       url(font-path('goudybookletter1911-openamp.svg#webfont0ZQvEa4G')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.openamp {
  font-family: GoudyBookletter1911Regular;
  font-size: 1.2em;
  line-height: .8;
}

sup {
  top: 0;
  vertical-align: super;
}

// Lists ************************* //

li {
  color: $color-copy;

  &:target {
    background-color: #fff9d9;
  }
}

ol, ul {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  max-width: 660px;
}

ol {
  padding: 20px 0 30px 0;
}

ol > li, ul > li {
  position: relative;
  margin: 0 0 10px 46px;
  padding: 10px;
}

ol > li {
  list-style: none;
}

ul > li {
  list-style-type: circle;
}

ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  width: 20px;
  left: -28px;
  margin-right: 10px;
  padding: 4px;
  text-align: center;
}

