
body {
  //@include font-mercury-body;
  @include font-adriane-body;
  background-color: $color-beige-white;
  font-size: 18px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;

  @include until($medium) {
    font-size: 16px;
  }
}

footer {
  width: 100%;
  background-color: $footerBeige;
  padding: 30px 0 80px 0;
}

.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  overflow: hidden;
}



// Typography ************************* //

// Type Scale
// Scale is 1:1.618 with an interval of 2
$h1: 66.77px; // 16px * 1.618^(6/2)
$h2: 53.28px; // 16px * 1.618^(5/2)
$h3: 41.89px; // 16px * 1.618^(4/2)
$h4: 32.93px; // 16px * 1.618^(3/2)
$h5: 25.89px; // 16px * 1.618^(2/2)
$h6: 20.35px; // 16px * 1.618^(1/2)
$body: 16px;  // 16px * 1.618^(0/2)
$xs: 12.58px; // 16px * 1.618^(-1/2)

p {
  color: $color-copy;
  text-align: left;
  font-size: 1em;
  line-height: 1.6;
  padding: 0;
  margin: 1.5em 0;

  a {
    padding: 0 3px;
  }

  .callOut {
    padding: 0 10px 20px 60px;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  color: $color-links;
  text-decoration: none;

  &:visited {
    color: $color-links-visited;
  }

  &:hover {
    color: $color-links-hover;
  }
}

h1, h2, h3 {
  @include font-petala-bold;
  padding: 0;
  color: $color-heading;
  line-height: 1.3;
}

code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 16px;
  color: #71aebd;
  @include border-radius(3px);
  padding: 1px 4px;
  background-color: #f7f5eb;
  border: 1px solid #ebe9df;
}

@font-face {
  font-family: 'GoudyBookletter1911Regular';
  src: url(font-path('goudybookletter1911-openamp.eot'));
  src: url(font-path('goudybookletter1911-openamp.eot?iefix')) format('eot'),
       url(font-path('goudybookletter1911-openamp.woff')) format('woff'),
       url(font-path('goudybookletter1911-openamp.ttf')) format('truetype'),
       url(font-path('goudybookletter1911-openamp.svg#webfont0ZQvEa4G')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.openamp {
  font-family: GoudyBookletter1911Regular;
  font-size: 1.2em;
  line-height: .8;
}

abbr {
  letter-spacing: 0.08em;
}

// Lists ************************* //

li {
  color: #656e6b;

  &:target {
    background-color: #fff9d9;
  }
}

ol, ul {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  max-width: 660px;
}

ol {
  padding: 20px 0 30px 0;
}

ol > li, ul > li {
  position: relative;
  margin: 0 0 10px 46px;
  padding: 10px;
}

ol > li {
  list-style: none;
}

ul > li {
  list-style-type: circle;
}

ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  width: 20px;
  left: -28px;
  margin-right: 10px;
  padding: 4px;
  text-align: center;
}
