
// Background of pages
$color-background: #FAFBFF;

// Main post copy
$color-copy: #444D5A;

// Image comment text color
$color-comment: #7B8BA0;

// Light text
$color-light-text: #95A4B8;

// H1, H2, & H3
$color-heading: #0D1622;

// Accent to use in logo, footnote markers, etc.
$color-accent: #FA2D3E;

$color-links: #60B2E0;
$color-links-hover: #0C9BEA;
$color-links-visited: #60B2E0;

$brightGreen: #60f0c5;

$color-ui-light: #DDE0EF;
$color-ui-dark: #C4C9E0;