
.footnote-marker {
  @include font-stack-headings;
  padding: 0 1px 2px 1px;
  color: $color-accent;
}

.post-preview .footnote-marker {
  display: none;
}

.footnote {
  word-wrap: break-word;

  .footnote-text {
    font-size: rem($xs);
    line-height: rem($baseline * 1.5);
    padding-left: rem($baseline * 2);
    margin-bottom: rem($baseline * 2);
    color: $color-light-text;

    @include at-least($medium) {
      font-size: rem($xs_md);
    }
  }

  .footnote-marker {
    padding: 0;
    float: left;
    line-height: rem($baseline * 1.5);
  }

  h5 {
    @include font-stack-headings;
    margin: 0 0 rem($baseline) 0;
  }

  @include at-least($large) {
    @include transition(opacity 300ms ease-in);
    @include opacity(0.3);
    float: right;
    width: 32%;
    clear: right;
    padding: 0 20px 0 0;
    margin: 0 -30% 10px 20px;

    &:hover {
      @include opacity(1);
    }

    .footnote-marker {
      float: none;
    }

    .footnote-text {
      padding-left: 0;
    }
  }

  @include at-least($extra-large) {
    width: 36%;
    margin-right: -40%;
  }
}




