
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

form {
	margin: 10px 0 40px 0;

	div {
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
	}
}


input {
	font-size: 18px;
	height: 40px;
	margin: 10px 0;
	@include border-radius(3px);
	border: 1px solid $brightGreen;

	&[type=email] {
		padding: 0 10px;
		width: 260px;
		background-color: #fff;
	}

	&[type=submit] {
		border: none;
		padding: 0 20px;
		background-color: $brightGreen;
		color: $color-background;
		font-weight: 700;
		letter-spacing: 5px;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
			background-color: darken($brightGreen, 10%)
		}
	}
}

.focusField {
  color: $color-copy;
}

.idleField {
  color: #e5e4da;
  border: solid 1px #e5e4da;
}

.completedField {
  color: $color-copy;
  border: solid 1px #e5e4da;
}
