
.homepage {
  margin-top: rem($baseline * 6)
}

.post-preview {
  margin-bottom: rem($baseline * 6);

  h4 {
    margin-bottom: 0;

    a {
      color: $color-heading;

      &:hover {
        color: $color-accent;
        text-decoration: none;
      }
    }
  }
  
  .read-more-link {
    @include font-feature-settings('"smcp", "c2sc"');
    font-weight: 600;
    margin: 0;
  }
}


@include at-least($medium) {

  .posts-list {
    padding-top: rem($baseline * 5);
  }
}


