

.post-title {
  width: 100%;
  padding: rem($baseline * 3) 0 rem($baseline * 2) 0;
  text-align: center;
  margin: 0 auto;
}

.date {
  @include font-feature-settings('"smcp", "c2sc"');
  font-weight: 700;
  text-transform: lowercase;
  left: 0px;
  position: relative;
  display: block;
  padding: 0;
  margin-bottom: rem($baseline);
  color: $color-light-text;
}

.post-title .date {

  &:after {
    content: ' —';
    color: $color-ui-light;
  }

  &:before {
    content: '— ';
    color: $color-ui-light;
  }
}

.read-time {
  @include font-feature-settings('"smcp", "c2sc"');
  font-weight: 700;
  border-top: 1px solid $color-ui-light;
  border-bottom: 1px solid $color-ui-light;
  padding: 3px 0;
  color: $color-comment;
}

.blog-content p:first-of-type {
  font-size: rem($h6);

  @include at-least ($medium) {
    font-size: rem($h6_md);
  }

  &:first-letter {
    float: left;
    color: $color-background;
    background-color: $color-accent;
    background-image: url(image-path('drop-cap-bg.svg'));
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: rem($h6 * 2);
    line-height: rem($baseline * 3);
    padding: rem($h6 * 0.75) rem($baseline * 2);
    margin-right: rem($baseline * 0.75);
    margin-top: 4px;

    @include at-least ($medium) {
      font-size: rem($h6_md * 3);
      padding: rem($h6_md * 0.75) rem($baseline * 2);
    }
  }
}

.post-image-full {
  margin: 0 0 rem($baseline * 2) 0;
  width: 100vw;
  margin-left:  -100vw * 2 / 26;
  height: auto;
  display: block;

  @include at-least($medium) {
    margin-left:  -100vw * 4 / 26;
  }
  @include at-least($large) {
    margin-left:  -100vw * 6 / 26;
  }
  @include at-least($extra-large) {
    width: 100vw * 20 / 26;
    margin-left: -100vw * 5 / 26;
  }
}

.post-image-column-wide {
  margin: 0 0 rem($baseline * 2) 0;
  display: block;
  max-width: 100%;
  height: auto;
}

.post-image-gutter {
  float: right;
  clear: right;
  max-width: 50%;
  height: auto;
  margin: 0 0 20px 20px;

  @include at-least($medium) {
    margin: 0 10% 40px 40px;
  }
  @include at-least($large) {
    margin-right: -20%;
  }
  @include at-least($extra-large) {

  }
}

.blog-content {

  h2, h3, h4, h5 {
    margin-top: rem($baseline * 4);
  }
}

.post-overflow {
  overflow: visible;
}

.small-caps-link {
  @include font-feature-settings('"smcp", "c2sc"');
  font-style: normal;
}

.image-comment {
  margin-top: -10px;
  font-size: rem($xs);
  line-height: rem($baseline * 1.5);
  font-style: italic;
  color: $color-comment;

  @include at-least($medium) {
    font-size: rem($xs_md);
  }
}

.preface-info {
  color: $color-comment;
  margin-bottom: rem($baseline * 2);
  display: block;
}
