
$footerBeige: #f5f5e6;

// Background beige and to use instead of white
$color-beige-white: #fffffa;

// Main post copy
$color-copy: #4c5351;

// Image comment text color
$color-comment: #78807d;

// H1, H2, & H3
$color-heading: #333333;

// Accent to use in logo, footnote markers, etc.
$color-accent: #f97a2d;

$color-links: #0c80e3;
$color-links-hover: #0260b0;
$color-links-visited: #6bade5;

$brightGreen: #60f0c5;
$textGreen: #4c5351;
