!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width' }

    // Add og-image
    - if current_page.data.og_image
      %meta{ :property => 'og:image', :content => image_url(current_page.data.og_image) }

    // Use title if it's in the page YAML frontmatter
    %title
      = current_page.data.title || "Jesse O'Chapo"
    %meta{ name: 'description', content: 'A blog about the design, code & career.' }

    = stylesheet_link_tag 'all'
    //= stylesheet_link_tag 'http://basehold.it/15'
    - if current_page.data.cononical_url
      %link{ :rel => 'canonical', :url => current_page.data.cononical_url }

    %script{ src: 'https://use.typekit.net/zpl8qgn.js' }
    :javascript
      try{Typekit.load();}catch(e){}

    %script{ src: 'https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js' }

  %body( class='#{page_classes}' )
    = yield

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-4247086-3', 'auto');
      ga('send', 'pageview');
