.bio
  .portrait
  %p
    Jesse Chapo is the Lead Product Designer at
    = link_to 'Fanpics', 'https://www.fanpics.com'
    in San Diego. He is a designer who constantly attempts to write code.
    .social-links-wrapper
      .small.social-link
        His portfolio:
        %br
        = link_to 'chapolito.com', 'http://www.chapolito.com', :class => 'small-caps-link'
      .small.social-link
        He tweets at:
        %br
        = link_to '@chapolito', 'https://twitter.com/chapolito', :class => 'small-caps-link'