.bio
  .portrait
  :markdown
    I'm a product designer making the world more open and connected at Facebook. I'm a designer who constantly attempts, and fails, to write code.

    [My designs on Dribbble](https://dribbble.com/chapolito)
