.bio
  .portrait
  :markdown
    I'm a product designer at Facebook working on the Teens team. I'm a designer who constantly attempts, and fails, to write code.

    [My designs on Dribbble](https://dribbble.com/chapolito)
