.bio
  .portrait
  :markdown
    Jesse Chapo designs for [Life360](https://www.Life360.com) in San Francisco. He is a designer who constantly attempts to write code.
  .social-links-wrapper
    .small.social-link
      His portfolio:
      %br
      = link_to 'chapolito.com', 'http://www.chapolito.com', :class => 'small-caps-link'
    .small.social-link
      He tweets at:
      %br
      = link_to '@chapolito', 'https://twitter.com/chapolito', :class => 'small-caps-link'
