.bio
  .portrait
  :markdown
    I design for [Life360](https://www.Life360.com) in San Francisco. I'm a designer who constantly attempts, and fails, to write code.

    [My designs on Dribbble](https://dribbble.com/chapolito)
