.bio
  .portrait
  :markdown
    I live in San Francisco and design for Facebook. I'm a designer who constantly attempts, and fails, to write code.

    [My designs on Dribbble](https://dribbble.com/chapolito)
