---
post_id: post03
title: Lie till you are, How I became a Creative Director
read_time: 3
---

%p
  A few years ago I presumptively started calling myself a Creative Director.
  %sup.footnote-marker 1
  It felt a little too bold at first, but someone had recently planted the idea of fake it till you make it in my head, so I ran with it&hellip;and looking back I’m glad I did.
.footnote
  .footnote-marker 1
  .footnote-text
    <strong>What is a Creative Director?</strong> I define it in two parts: First, you’re intrusted with taking business objectives and molding that into a cohesive vision that supports the users and brand. Second, you’re entrusted with keeping the creative team inspired, motivated, and on track.
%p
  The surprising thing was that no one seemed to bat an eye. I put it on my website, threw it in my email signature and updated my social networks&hellip;and I never heard a single snicker. But you’ll never make it just faking it, so I kept working, learning, &amp; practicing. Fast forward five years as Chapolito and I finally to stop freelancing to take up an offer with a current client and come in as their Creative Director.
%p
  Bam! I was there, except&hellip;nothing changed. Rush requests were gone and RFPs were forwarded to friends, but the work was exactly the same. The team was extremely small and the CEO still made all the decisions similar to a client. My role was much closer to a Lead Designer; but I still called myself Creative Director. I knew I wasn’t really there yet.
%p
  Skip ahead another year and I’ve changed course to a new job, joining <a href='https://www.fanpics.com'>Fanpics</a>. We're a nimble team of 10 and I'm the only designer, calling myself a Creative Director. Same as always I figured, I’ll just be designing. Shortly after I was asking a coworker his opinion about an iOS design
  %sup.footnote-marker 2
  and his response was just, “Well, you’re the Creative Director so I’ll default to you on that.” A partially lazy response, but I realized that I’m now in an environment where my responsibilities have expanded&mdash;what to do?
.footnote
  .footnote-marker 2
  .footnote-text
    Because design is an inclusive process. A designer must engage and listen to those around them (users, clients, colleagues, etc.) and recognize that they have valuable input.
%p
  As a designer I’ve always had a strong opinion about the best direction, but it was my task to propose those ideas, and ultimately the client would determine the outcome. That’s not to say I didn’t advise&mdash;and compromise&mdash;as needed, but now I’m responsible for both roles. Instead of just proposing ideas, I’m responsible for making decisions about what are the best ideas. and not just what fits into my personal preferences, but what is best for the Fanpics’ users and its brand. The responsibility is both terrifying and exciting; like the first time you drive.
%p
  I’m still discovering what it means to be a Creative Director; this first step is only part of it and I’m enjoying the learning process.

