    <p>
      <strong>This blog will not be updated frequently</strong>, but you are welcome to sign up to receive updates by email:
    </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="http://chapolito.us1.list-manage1.com/subscribe/post?u=5358229f4549b28ef950d3e8d&amp;id=5247672041" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
          <input type="email" value="Email Address" name="EMAIL" class="email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>  
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->

    <p>
      Jesse Chapo is a freelance web &amp; mobile designer in San Diego crafting under the moniker <a href="http://www.chapolito.com">Chapolito</a>. He splits his time collaborating with awesome startups, building iOS apps like <a href="https://itunes.apple.com/us/app/the-wiki-game-a-wikipedia/id459318432">The Wiki Game</a> and attempting to write code.
    </p>
    <p>
      email: <a href="mailto:hello@jessechapo.com?subject=hello Jesse...">hello@jessechapo.com</a>
    </p>
    <p>
      links: <a href="http://twitter.com/chapolito">twitter</a> / <a href="http://dribbble.com/chapolito">dribbble</a> / <a href="https://www.facebook.com/pages/Chapolito/49032319712">facebook</a>
    </p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/js/main.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-4247086-3'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
