/*
css dopeness.
*/
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 22, ../_sass/_normalizeBoilerplate.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 32, ../_sass/_normalizeBoilerplate.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 44, ../_sass/_normalizeBoilerplate.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 54, ../_sass/_normalizeBoilerplate.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 69, ../_sass/_normalizeBoilerplate.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 84, ../_sass/_normalizeBoilerplate.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 92, ../_sass/_normalizeBoilerplate.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 104, ../_sass/_normalizeBoilerplate.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 113, ../_sass/_normalizeBoilerplate.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 127, ../_sass/_normalizeBoilerplate.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../_sass/_normalizeBoilerplate.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../_sass/_normalizeBoilerplate.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../_sass/_normalizeBoilerplate.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, ../_sass/_normalizeBoilerplate.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, ../_sass/_normalizeBoilerplate.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 161, ../_sass/_normalizeBoilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 170, ../_sass/_normalizeBoilerplate.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, ../_sass/_normalizeBoilerplate.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 182, ../_sass/_normalizeBoilerplate.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 191, ../_sass/_normalizeBoilerplate.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 201, ../_sass/_normalizeBoilerplate.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 211, ../_sass/_normalizeBoilerplate.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 222, ../_sass/_normalizeBoilerplate.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 232, ../_sass/_normalizeBoilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 242, ../_sass/_normalizeBoilerplate.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 251, ../_sass/_normalizeBoilerplate.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 260, ../_sass/_normalizeBoilerplate.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 269, ../_sass/_normalizeBoilerplate.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 276, ../_sass/_normalizeBoilerplate.scss */
sup {
  top: -0.5em;
}

/* line 280, ../_sass/_normalizeBoilerplate.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 295, ../_sass/_normalizeBoilerplate.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 299, ../_sass/_normalizeBoilerplate.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 309, ../_sass/_normalizeBoilerplate.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 318, ../_sass/_normalizeBoilerplate.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 332, ../_sass/_normalizeBoilerplate.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 341, ../_sass/_normalizeBoilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 353, ../_sass/_normalizeBoilerplate.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 365, ../_sass/_normalizeBoilerplate.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 373, ../_sass/_normalizeBoilerplate.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 385, ../_sass/_normalizeBoilerplate.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 402, ../_sass/_normalizeBoilerplate.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 415, ../_sass/_normalizeBoilerplate.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 427, ../_sass/_normalizeBoilerplate.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 444, ../_sass/_normalizeBoilerplate.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 455, ../_sass/_normalizeBoilerplate.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 467, ../_sass/_normalizeBoilerplate.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 480, ../_sass/_normalizeBoilerplate.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 493, ../_sass/_normalizeBoilerplate.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 502, ../_sass/_normalizeBoilerplate.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 512, ../_sass/_normalizeBoilerplate.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 525, ../_sass/_normalizeBoilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 18, ../_sass/_mainBoilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 30, ../_sass/_mainBoilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 35, ../_sass/_mainBoilerplate.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
*/
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 58, ../_sass/_mainBoilerplate.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 66, ../_sass/_mainBoilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 76, ../_sass/_mainBoilerplate.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 84, ../_sass/_mainBoilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 100, ../_sass/_mainBoilerplate.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 108, ../_sass/_mainBoilerplate.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 119, ../_sass/_mainBoilerplate.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 128, ../_sass/_mainBoilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 145, ../_sass/_mainBoilerplate.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 158, ../_sass/_mainBoilerplate.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 175, ../_sass/_mainBoilerplate.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 180, ../_sass/_mainBoilerplate.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 189, ../_sass/_mainBoilerplate.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== 
*/
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 213, ../_sass/_mainBoilerplate.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 221, ../_sass/_mainBoilerplate.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 225, ../_sass/_mainBoilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 229, ../_sass/_mainBoilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 239, ../_sass/_mainBoilerplate.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 244, ../_sass/_mainBoilerplate.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 249, ../_sass/_mainBoilerplate.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 254, ../_sass/_mainBoilerplate.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 258, ../_sass/_mainBoilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 268, ../_sass/_mainBoilerplate.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 274, ../_sass/_mainBoilerplate.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 13, ../_sass/style.scss */
#hackerNewsButton {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 700;
  font-size: 18px;
  height: auto;
  max-width: 260px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #000;
  letter-spacing: 5px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
/* line 30, ../_sass/style.scss */
#hackerNewsButton:hover {
  background-color: #ff8533;
}

/* line 35, ../_sass/style.scss */
p, span, ol, h1, h2, h3, .label {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 39, ../_sass/style.scss */
p#discuss {
  padding: 0;
  margin: 0;
  font-size: 14px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

/* line 48, ../_sass/style.scss */
a {
  color: #28b98d;
  text-decoration: none;
}

/* line 53, ../_sass/style.scss */
a:visited {
  color: #8abdad;
}

/* line 57, ../_sass/style.scss */
a:hover {
  background-color: #28b98d;
  color: #ffffff;
}

/* line 62, ../_sass/style.scss */
body {
  background-color: #fffdf2;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  padding: 0 0 80px 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  /* line 62, ../_sass/style.scss */
  body {
    font-size: 20px;
  }
}

/* line 75, ../_sass/style.scss */
p {
  color: #4c5351;
  width: 100%;
  max-width: 660px;
  text-align: left;
  line-height: 34px;
  padding: 0 0 20px 0;
}
/* line 82, ../_sass/style.scss */
p a {
  padding: 0 3px;
}
/* line 85, ../_sass/style.scss */
p .callOut {
  padding: 0 10px 20px 60px;
}

/* line 90, ../_sass/style.scss */
.postImageFull {
  margin: 0 0 20px 0;
  max-width: 100%;
  height: auto;
}

/* line 96, ../_sass/style.scss */
.postImageGutter {
  float: right;
  margin: 0 0 40px 40px;
  clear: both;
}
@media screen and (max-width: 560px) {
  /* line 96, ../_sass/style.scss */
  .postImageGutter {
    float: none;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

/* line 108, ../_sass/style.scss */
strong {
  font-weight: 700;
}

/* line 112, ../_sass/style.scss */
.label, h2, h3 {
  font-family: 'Kreon', serif;
  font-weight: 700;
  color: #1e2221;
  padding: 0;
  margin: 60px 0 14px 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  /* line 112, ../_sass/style.scss */
  .label, h2, h3 {
    margin: 40px 0 14px 0;
  }
}

/* line 125, ../_sass/style.scss */
.blogContent {
  padding-top: 40px;
}

/* line 129, ../_sass/style.scss */
.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  overflow: hidden;
}

/* line 138, ../_sass/style.scss */
.postOverflow {
  overflow: visible;
}

/* line 142, ../_sass/style.scss */
.topPadding {
  padding: 80px 0 20px 0;
}

/* line 146, ../_sass/style.scss */
.colorStripe {
  width: 100%;
}
/* line 149, ../_sass/style.scss */
.colorStripe img {
  position: absolute;
  right: 0px;
}
@media screen and (min-width: 900px) {
  /* line 152, ../_sass/style.scss */
  .colorStripe img#previewImage {
    bottom: -140px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }
}
@media screen and (max-width: 320px) {
  /* line 152, ../_sass/style.scss */
  .colorStripe img#previewImage {
    position: relative;
    margin: -30px 0 40px 140px;
  }
}
/* line 162, ../_sass/style.scss */
.colorStripe img#mainImage {
  top: 20px;
}
@media screen and (max-width: 320px) {
  /* line 162, ../_sass/style.scss */
  .colorStripe img#mainImage {
    top: 0;
  }
}
@media screen and (max-width: 320px) {
  /* line 162, ../_sass/style.scss */
  .colorStripe img#mainImage {
    position: relative;
    margin: 0 0 -50px 140px;
  }
}
@media screen and (max-width: 900px) {
  /* line 149, ../_sass/style.scss */
  .colorStripe img {
    width: 150px;
    height: 150px;
    top: 30px;
  }
}
/* line 179, ../_sass/style.scss */
.colorStripe #blogTitle {
  width: 100%;
  max-width: 600px;
  padding: 60px 0 60px 0;
}
@media screen and (max-width: 900px) {
  /* line 179, ../_sass/style.scss */
  .colorStripe #blogTitle {
    max-width: 360px;
    padding: 40px 0 40px 0;
  }
}
@media screen and (max-width: 520px) {
  /* line 179, ../_sass/style.scss */
  .colorStripe #blogTitle {
    max-width: 200px;
  }
}
@media screen and (max-width: 320px) {
  /* line 179, ../_sass/style.scss */
  .colorStripe #blogTitle {
    max-width: 300px;
    padding: 30px 0 20px 0;
  }
}
/* line 194, ../_sass/style.scss */
.colorStripe #blogTitle span {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 80px;
  color: #fffdf2;
  line-height: 100px;
}
@media screen and (max-width: 900px) {
  /* line 194, ../_sass/style.scss */
  .colorStripe #blogTitle span {
    font-size: 32px;
    line-height: 50px;
  }
}
/* line 204, ../_sass/style.scss */
.colorStripe #blogTitle span.date {
  font-size: 20px;
  line-height: 20px;
  left: 0px;
  position: relative;
  display: block;
  padding: 10px 0 0 0;
}
/* line 215, ../_sass/style.scss */
.colorStripe:hover #previewImage {
  bottom: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 219, ../_sass/style.scss */
.colorStripe:hover #blogTitle span.date {
  left: 40px;
}
/* line 224, ../_sass/style.scss */
.colorStripe#post01 {
  background-color: #37d7e6;
}
/* line 226, ../_sass/style.scss */
.colorStripe#post01 span.date {
  color: #37d7e6;
}
@media screen and (max-width: 900px) {
  /* line 226, ../_sass/style.scss */
  .colorStripe#post01 span.date {
    color: #0f6d75;
  }
}
/* line 232, ../_sass/style.scss */
.colorStripe#post01:hover {
  background-color: #1ac0d0;
}
/* line 234, ../_sass/style.scss */
.colorStripe#post01:hover span.date {
  color: #0f6d75;
}
/* line 237, ../_sass/style.scss */
.colorStripe#post01:hover.postPage {
  background-color: #37d7e6;
}
/* line 239, ../_sass/style.scss */
.colorStripe#post01:hover.postPage span.date {
  left: 0px;
}
/* line 244, ../_sass/style.scss */
.colorStripe#post01.postPage span.date {
  color: #0f6d75;
}
/* line 249, ../_sass/style.scss */
.colorStripe#post02 {
  background-color: #e59d37;
}
/* line 251, ../_sass/style.scss */
.colorStripe#post02 span.date {
  color: #e59d37;
}
/* line 254, ../_sass/style.scss */
.colorStripe#post02:hover {
  background-color: #ce841b;
}
/* line 256, ../_sass/style.scss */
.colorStripe#post02:hover span.date {
  color: #744a0f;
}

@-moz-keyframes expand {
  /* line 264, ../_sass/style.scss */
  0% {
    height: 0;
  }

  /* line 267, ../_sass/style.scss */
  100% {
    height: auto;
  }
}

@-webkit-keyframes expand {
  /* line 264, ../_sass/style.scss */
  0% {
    height: 0;
  }

  /* line 267, ../_sass/style.scss */
  100% {
    height: auto;
  }
}

@-o-keyframes expand {
  /* line 264, ../_sass/style.scss */
  0% {
    height: 0;
  }

  /* line 267, ../_sass/style.scss */
  100% {
    height: auto;
  }
}

@keyframes expand {
  /* line 264, ../_sass/style.scss */
  0% {
    height: 0;
  }

  /* line 267, ../_sass/style.scss */
  100% {
    height: auto;
  }
}

/* line 272, ../_sass/style.scss */
.colorStripe:hover *, .colorStripe * {
  -webkit-transition: all 600ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  -moz-transition: all 600ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  -o-transition: all 600ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  transition: all 600ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
}

/* line 276, ../_sass/style.scss */
.colorStripe:hover img#previewImage, .colorStripe img#previewImage, .colorStripe {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.01, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.01, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.01, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.01, 1);
}

/* line 280, ../_sass/style.scss */
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 18px;
  color: #71aebd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  background-color: #f7f5eb;
  border: 1px solid #ebe9df;
}

/* line 4, ../_sass/_forms.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 8, ../_sass/_forms.scss */
form {
  margin: 10px 0 40px 0;
}
/* line 10, ../_sass/_forms.scss */
form div {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

/* line 18, ../_sass/_forms.scss */
input {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 40px;
  margin: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #37e6b1;
}
/* line 27, ../_sass/_forms.scss */
input[type=email] {
  padding: 0 10px;
  width: 260px;
  background-color: #fff;
}
/* line 32, ../_sass/_forms.scss */
input[type=submit] {
  border: none;
  padding: 0 20px;
  background-color: #37e6b1;
  color: #fffdf2;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}
/* line 40, ../_sass/_forms.scss */
input[type=submit]:hover {
  cursor: pointer;
  background-color: #1ad099;
}

/* line 47, ../_sass/_forms.scss */
.focusField {
  color: #4c5351;
}

/* line 50, ../_sass/_forms.scss */
.idleField {
  color: #e5e4da;
  border: solid 1px #e5e4da;
}

/* line 54, ../_sass/_forms.scss */
.completedField {
  color: #4c5351;
  border: solid 1px #e5e4da;
}

/* line 1, ../_sass/_jessechapologo.scss */
#header {
  background-color: #37e6b1;
  width: 100%;
  margin: 0;
  padding: 80px 0 80px 0;
}
@media screen and (max-width: 768px) {
  /* line 1, ../_sass/_jessechapologo.scss */
  #header {
    padding: 50px 0 50px 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 1, ../_sass/_jessechapologo.scss */
  #header {
    padding: 36px 0 36px 0;
  }
}

/* line 13, ../_sass/_jessechapologo.scss */
#jessePhoto {
  width: 0px;
  height: 0px;
  border: 6px solid #fffdf1;
  -webkit-border-radius: 51px;
  -moz-border-radius: 51px;
  border-radius: 51px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  -webkit-transition: all 400ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  -moz-transition: all 400ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  -o-transition: all 400ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  transition: all 400ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
}

/* line 24, ../_sass/_jessechapologo.scss */
#box {
  width: 244px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* line 30, ../_sass/_jessechapologo.scss */
#box:hover {
  width: 334px;
}
/* line 32, ../_sass/_jessechapologo.scss */
#box:hover #jessePhoto {
  width: 92px;
  height: 92px;
  margin-top: -34px;
}
/* line 37, ../_sass/_jessechapologo.scss */
#box:hover .banner {
  width: 324px;
}

/* line 43, ../_sass/_jessechapologo.scss */
.banner {
  width: 234px;
  height: 38px;
  background: #fffdf2;
  margin-left: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
/* line 49, ../_sass/_jessechapologo.scss */
.banner span {
  background-color: #fffdf2;
  font-size: 20px;
  color: #28b98d;
  margin: 0;
  padding: 10px 0 6px 6px;
  letter-spacing: 8px;
  display: inline-block;
  top: 0px;
  position: relative;
  vertical-align: top;
}

/* line 63, ../_sass/_jessechapologo.scss */
#box, .banner, .banner span {
  -webkit-transition: all 400ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  -moz-transition: all 400ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  -o-transition: all 400ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
  transition: all 400ms cubic-bezier(0.53, 1.635, 0.85, 0.82);
}

/* line 67, ../_sass/_jessechapologo.scss */
.ribbon {
  width: 10px;
  height: 38px;
  background: #fffdf2;
  position: absolute;
}
/* line 72, ../_sass/_jessechapologo.scss */
.ribbon.left {
  top: 0;
  left: 0;
}
/* line 75, ../_sass/_jessechapologo.scss */
.ribbon.left:before {
  content: "";
  position: absolute;
  left: -29px;
  top: 0;
  width: 0;
  height: 0;
  border-right: 30px solid #fffdf2;
  border-top: 0 solid transparent;
  border-bottom: 37.5px solid transparent;
}
/* line 86, ../_sass/_jessechapologo.scss */
.ribbon.left:after {
  content: "";
  position: absolute;
  left: -29px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 30px solid #fffdf2;
  border-top: 37.5px solid transparent;
  border-bottom: 0 solid transparent;
}
/* line 98, ../_sass/_jessechapologo.scss */
.ribbon.right {
  top: 0;
  right: 10px;
}
/* line 101, ../_sass/_jessechapologo.scss */
.ribbon.right:before {
  content: "";
  position: absolute;
  right: -29px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #fffdf2;
  border-top: 0 solid transparent;
  border-bottom: 37.5px solid transparent;
}
/* line 112, ../_sass/_jessechapologo.scss */
.ribbon.right:after {
  content: "";
  position: absolute;
  right: -29px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #fffdf2;
  border-top: 37.5px solid transparent;
  border-bottom: 0 solid transparent;
}

/* line 1, ../_sass/_footnotes.scss */
sup {
  padding: 0 1px 2px 1px;
}
/* line 3, ../_sass/_footnotes.scss */
sup:target {
  background-color: #fff9d9;
}

/* line 8, ../_sass/_footnotes.scss */
a[rel="footnote"], a[rev="footnote"] {
  border-bottom: none;
  font-family: 'Kreon', serif;
  font-weight: 700;
  color: #28b98d;
  font-size: 14px;
  text-decoration: none;
  line-height: 0;
  padding: 4px 0 2px 2px;
  letter-spacing: 2px;
  cursor: pointer;
}
/* line 19, ../_sass/_footnotes.scss */
a[rel="footnote"]:hover, a[rev="footnote"]:hover {
  background-color: #28b98d;
  color: #fffdf2;
}

/* line 25, ../_sass/_footnotes.scss */
a[rel="footnote"]:before {
  content: "[";
}

/* line 29, ../_sass/_footnotes.scss */
a[rel="footnote"]:after {
  content: "]";
}

/* line 33, ../_sass/_footnotes.scss */
hr {
  color: #e1e1e1;
  background-color: #e1e1e1;
  height: 2px;
  border: 0;
  width: 600px;
  margin-bottom: 20px;
}

/* line 42, ../_sass/_footnotes.scss */
li {
  color: #656e6b;
}
/* line 44, ../_sass/_footnotes.scss */
li:target {
  background-color: #fff9d9;
}

/* line 49, ../_sass/_footnotes.scss */
ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
  padding: 20px 0 70px 0;
  width: 100%;
  max-width: 660px;
  line-height: 32px;
}
/* line 57, ../_sass/_footnotes.scss */
ol.footnotes {
  font-size: 16px;
  line-height: 24px;
}

/* line 63, ../_sass/_footnotes.scss */
ol > li {
  position: relative;
  margin: 0 0 10px 46px;
  padding: 10px;
  list-style: none;
}

/* line 70, ../_sass/_footnotes.scss */
ol > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  width: 20px;
  left: -28px;
  margin-right: 10px;
  padding: 4px;
  font-family: 'Kreon', serif;
  font-weight: 700;
  text-align: center;
}

/* line 83, ../_sass/_footnotes.scss */
#currentFootnote {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid transparent;
  background-color: #fff9d9;
  font-size: 16px;
  line-height: 24px;
  z-index: 99;
  display: none;
  text-align: center;
}
/* line 94, ../_sass/_footnotes.scss */
#currentFootnote div {
  max-width: 600px;
  padding: 10px 0;
  margin: 0 auto;
}
