---
pageable: false
---

.container.homepage
  .row.homepage-banner
    .col-xs-12.col-lg-offset-1.col-lg-11
      .monogram-home-logo
        = partial(:monogram, :locals => { :color => 'f97a2d', :width => 81 })
      %h1 Jesse Chapo
      %h5 thoughts on design, code, <span class="openamp">&amp;</span> career

  .row
    .col-md-2.col-lg-offset-1.homepage-bio
      = partial 'footer-bio'

    .col-md-offset-1.col-md-8.col-lg-7.posts-list
      - page_articles.each_with_index do |article, i|
        .post-preview
          %h2
            = link_to article.title, article, class: 'homepage-title'
          %span.date
            = article.date.strftime('%B ')
            = precede article.date.mday do
              %sup= add_ordinals(article.date.mday)
            = article.date.strftime(' %Y')
          = article.summary(200)
          .read-more-link
            = link_to 'read more', article
