---
pageable: false
---

.container-fluid.homepage
  .row
    .col-xs-12.col-md-3.homepage-bio
      .monogram-logo
        = partial(:monogram, :locals => { :color_base => 'FA2D3E', :color_accent => 'B51825', :width => 64 })
      %h1 Jesse Chapo
      .tagline.small thoughts on design, code, <span class="openamp">&amp;</span> career
      = partial 'footer-bio'

    .col-xs-12.col-md-6.posts-list
      - page_articles.each_with_index do |article, i|
        .post-preview
          %h4
            = link_to article.title, article, class: 'homepage-title'
          %span.date.small
            = article.date.strftime('%B ')
            = precede article.date.mday do
              %sup= add_ordinals(article.date.mday)
            = article.date.strftime(' %Y')
          = article.summary(250)
          %h6.read-more-link
            = link_to 'read more &raquo;', article
